.overview-widget {
  display: flex;
  align-items: center
}

.title {
  font-size: 30px;
}

.overview-box {
  width: 150px;
  margin-left: 20px;
}

.change-box {
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.small-title {
  font-size: 10px;
  color: rgb(132, 142, 156);
  line-height: 16px;
  font-weight: 400;
}
