.trade {
  padding: 0 10px;
  height: 100%;
}

.trade-table {
  height: 100%;
  overflow: auto;
}
table { width: 100% }
td { padding: 3px; }

.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.header-title {
  font-size: 16px;
  color: rgb(94, 102, 115);
  text-align: left;
  font-weight: 500;
}

