.order-form {
  background-color: #0b1729e8;
  padding: 10px 20px;
  border-radius: 4px;
}

.order-content {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #739c9c
}

.order-content-box {
  width: 48%;
}

.input-box {
  background-color: #141f2d;
  margin: 7px 0;
  padding: 0 10px;
  display: inline-flex;
  height: 32px;
  align-items: center;
  line-height: 1.6;
  border: 1px solid rgba(43, 47, 54, 0.8);
  border-radius: 4px;
  width: 96%;
}


.input { margin: 0 10px; }
.input-text {
  width: 100%;
  margin: 0 10px;
}

.tips { color:#d45a5a }
.submit-btn { float: right; }