
<div class="orderbook-table">
  <table>
    <tr class="header-title">
      <th>Price</th>
      <th>Amount</th>
      <th>Total</th>
    </tr>
    <tr *ngFor="let model of buyOrderbooks">
      <td class="buy">{{model.price}}</td>
      <td>{{model.amount}}</td>
      <td>{{model.total}}</td>
    </tr>
  </table>
</div>

<div class="{{lastModel?.css}} title">{{lastModel?.price}}</div>
<div class="orderbook-table">
  <table>
    <tr *ngFor="let model of sellOrderbooks">
      <td class="sell ">{{model.price}}</td>
      <td>{{model.amount}}</td>
      <td>{{model.total}}</td>
    </tr>
  </table>
</div>

