.orderbook{ height: 100%;}
.orderbook-table {
  height: 49%;
  overflow: auto;
}

table {
  width: 100%;
  font-size: 12px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}

.header-title {
  color: rgb(94, 102, 115);
  text-align: left;
}

td { padding: 2px; }
