.toolbar {
  height: 77px;
  display: flex;
  align-items: center;
}

.toolbar-logo {
  margin-right: 20px;
  width: 150px;
}

.panel {
  height: 60em;
  display: flex;
  padding: 20px 0;
}
.left-panel { width: 20% }
.middle-panel { width: 60% }
.right-panel { width: 20% }

.buttom-panel {
  height: 20px;
}
